In [10]:
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [16]:
dataset=pd.read_csv('dataset_cons.csv')
dataset

    num_mais  nbre_lampe  nbre_equip  consomation
0          1           4           2           15
1          2           3           4           25
2          3           2           5           30
3          4           5           2           18
4          5           6           4           50
5          6           5           8           70
6          7           3           5           40
7          8           4           7           60
8          9           6           4           45
9         10           2           7           55
10        11           3           8           65
11        12           2           6           48
12        13           5           9           85
13        14           9           4           57
14        15           5           3           38
15        16           7           4           62
16        17           8           2           35
17        18           5          10           75
18        19           7           8           67
19        20           3           2           18

In [19]:

X=dataset[['num_mais','nbre_lampe','nbre_equip']]
Y=dataset['consomation']

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [23]:
regresseur=LinearRegression()

In [25]:
regresseur.fit(X_train,Y_train)

LinearRegression()

In [26]:
joblib.dump(regresseur,'modelecons.pkl')

['modelecons.pkl']

In [28]:
y_pred=regresseur.predict(X_test)

In [31]:
df=pd.DataFrame({'Valeur actuel':Y_test,
                'valuer predite': y_pred})

In [32]:
df

    Valeur actuel  valuer predite
18             67       82.113212
1              25       30.273096
19             18       23.055941
8              45       44.662775